mixin navbar()
    nav.navbar.navbar-expand.navbar-dark.bg-dark
      .container
        #navbarSupportedContent1.navbar-collapse.collapse.order-1.order-md-0.mx-auto
          ul.navbar-nav.mr-auto
            block
        .order-3.order-md-0.mr-auto
          .nav.navbar-nav.ml-auto
            a.nav-item.nav-link(href='https://github.com/febor')
              i.fab.fa-github.fa-lg
            a.nav-item.nav-link(href='https://weibo.com/5785159905/IfrSF0IuR?type=comment')
              i.fab.fa-tencent-weibo.fa-lg
        button.navbar-toggler.toggler-example(type='button', data-toggle='collapse', data-target='#navbarSupportedContent1', aria-controls='navbarSupportedContent1', aria-expanded='false', aria-label='Toggle navigation')
          span.dark-blue-text
            i.fa.fa-bars.fa-1x